



@media only screen and (max-width: 1024px) {

    header{
        background-color: red;
    }
}

@media only screen and (max-width: 992px) {

    header{
        background-color: yellow;
        width: 50%;
        padding: 15px;
    }
}

@media only screen and (max-width: 768px) {




}

